body {
    background: #632A7E;
}

.navbar {
    background-color: #280E3B;
}

.navbar-brand {
    background-color: #A13E97;
    color: #D3B7D8;
}

.rating {
    background-color: #280E3B;
    color: #D3B7D8;
}

#giphyLogo {
    width: 80px;
    height: auto;
}

#btnGroupDrop {
    background-color: #A13E97;
    color: #D3B7D8;
}

#submit {
    background-color: #A13E97;
    border-color: #A13E97;
    color: #D3B7D8;
}

#btnPrompt {
    color: #D3B7D8;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background-color: #A13E97;
    color: #D3B7D8;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background-color: #280E3B;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}